h1{
    font-size: 76px;
}
.top-banner-image{
    background-image: url(image/donate-today.jpg);
    background-size: cover;
    height: 650px;
    background-position: center;
}
body{
    margin: 0%;
    font-family: sans-serif;
}
.banner-text {
    text-align: center;
    color: white;
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-20%,-20%);
}
p{
    font-size: 18px;
}


.link-button {
    text-decoration: none;
    color: white;
    box-shadow: 2px 2px 2px 2px rgb(196, 188, 188);
    background-image: linear-gradient(rgb(241, 64, 0),rgb(226, 23, 84));
    font-size: 18px;
    padding: 20px 50px;
    border-radius: 10px;
}


.Donet-today{
    text-align: center;
}


.monye {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}
.monye-box {
    color: rgb(230, 100, 122);
    border-style: solid;
    padding: 10px 20px;
}



.taka-amount{
    text-align: center;
}

.other-amount {
    border: none;
    resize: none;
    outline: none;
}



.donat-list {
    display: flex;

}
.donat-graph {
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
    border-radius: 5%;
    box-shadow: 10px 10px 40px rgb(245, 138, 155);
    background-color:rgb(221, 238, 223)
}



.email-box {
    width: 30%;
    margin-left: 25%;
    margin-right: 10%;
    padding: 10%;
    border-radius: 5%;
    box-shadow: 10px 10px 40px rgb(235, 111, 111);
    background-color: rgb(238, 230, 236);
}
.submit-button {
    background-color: rgb(223, 29, 29);
    color: white;
    padding: 5px 20px;
    border-style: solid;
}



footer{
    text-align: center;
    padding: 12px;
    background-color: rgb(15, 15, 15);
    color: tomato;
}
.gmail{
    color: rgb(88, 26, 117);
    text-decoration: none;
}